
@import '../src/media.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rokkitt:wght@400;700&display=swap');

body {
  background-color: #f2f2f2;
  font-family: 'Roboto', sans-serif;
  // font-family: 'Raleway', sans-serif;
  line-height: 1.5;

}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Rokkitt', serif;
}

